
/* Styles for the custom header */
.custom-header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.custom-header .custom-header-inner {
    max-width: 1200px;
    margin: 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.custom-header .custom-header-inner .logo-menu {
    max-width: 1200px;
    margin: 0 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.custom-header .material-symbols-outlined
{
    font-size: 20px;
    color: #fff;
    
}
.custom-header .custom-logo {
    font-size: 16px;
    color: #fff;
    font-family: "Centuria", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif; 
    font-weight: bold;
    margin-left: 5px;
    text-decoration: none;
}

.custom-header .custom-menu-button {
    background: none;
    border: none;
    color: #ffffff;
}

/* Dropdown Button */
.custom-header .custom-header-inner .dropmenu {
    background-color: #333333;
    color: rgb(210, 206, 206);
    padding-top: 3px;
    padding-right: 10px;
    padding-bottom: 2px;
    padding-left: 10px;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(83, 83, 83);
  }
  
  /* The container <div> - needed to position the dropdown content */
  .custom-header .custom-header-inner .dropmenu {
    position: relative;

    display: inline-block;
  }
  
/* Styles for the custom hero section */
.custom-hero {
    background-color: #ffffff;
    padding: 60px 0;
    text-align: center;
}

.custom-hero .custom-hero-inner {
    max-width: 800px;
    margin: 0 auto;
}

.custom-hero .custom-hero-title {
    font-size: 36px;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    color: #333;
}

.custom-hero .custom-hero-description {
    font-size: 18px;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    color: #555;
}

/* Styles for the custom buttons */
.custom-btn {
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 4px;
}

.custom-primary-btn {
    background-color: #007bff;
    color: #fff;
}

.custom-secondary-btn {
    background-color: #6c757d;
    color: #fff;
}

/* Styles for the custom album section */
.custom-album {
    padding: 40px 0;
    background-color: #f7f7f7;
    text-align: center;
}

.custom-album .custom-album-inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Styles for the custom cards */
.custom-card {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    margin: 10px;
    padding: 0px;
    text-align: center;
    max-width: 300px;
    box-shadow: 2px 2px #e9e9e9;
}

.custom-card img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.custom-card .custom-card-title {
    font-size: 24px;
    color: #333;
}

.custom-card .custom-card-description {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

/* Styles for the custom footer */
.custom-footer {
    background-color: #ffffff;
    color: #fff;
    padding: 20px 0;
    text-align: left;
}

.custom-footer .custom-footer-inner {
    max-width: 1200px;
    margin: 0 auto;
}

.custom-footer .custom-footer-text {
    font-size: 14px;
    color: #000000;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.custom-footer .custom-footer-link {
    color: #007bff;
    text-decoration: none;
}
